.home-page {
  padding-top: 10rem;
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  text-align: center;
  color: white;
}
.home-header {
  text-align: center;
  color: white;
}
.profile-picture {
  height: 15em;
  width: 15em;
}
.stats-bar {
  text-align: center;
  margin: 3rem auto;
  width: 50%;
}
.stat-section {
  color: white;
}
.movie-bar {
  justify-content: center;
  margin-top: 1%;
  margin-left: 10%;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.playlist-grid {
  justify-content: center;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.account-button {
  font-size: 1.75rem;
}
