.nav-icon {
  padding-left: 15px;
  height: 2rem;
}
.nav-icons {
  padding-left: 15px;
  height: 5rem;
}
.nav-icon:hover {
  height: 2.5rem;
}
.links {
  padding-right: 150px;
}
body {
  font-size: 25px;
}
.down {
  margin-top: 1rem;
}
.nav-text {
  color: #701da8;
}
