body {
  background-color: rgb(119, 189, 235);
  background-image: url(../../../Images/Background.jpg);
}
.movie-card {
  width: 14rem;
  margin: 1rem;
  background-color: rgb(119, 189, 235);
  border-radius: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.movie-card:hover .overview {
  transform: translateY(0%);
}
.movie-card img {
  max-width: 100%;
}
.movie-grid {
  justify-content: center;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
}
.overview {
  background-color: white;
  color: blue;
  display: inline;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  transform: translateY(110%);
  transition: transform 0.4s ease-in-out;
}
p {
  font-size: 20px;
}
.movie-buttons,
.page-header {
  text-align: center;
}
.movie-button {
  margin-top: 1rem;
}
.page-header {
  color: white;
  background-color: red;
  width: 50%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.search-bar {
  border-radius: 4rem;
  border: 2px solid blue;
  color: white;
  background-color: transparent;
  width: 20rem;
  padding-left: 1rem;
}
.search-bar::placeholder {
  color: white;
}
