.explore-page {
  padding-top: 10rem;
  background-image: url(../../../Images/Background.jpg);
}
.movie-card {
  width: 18rem;
  margin: 1rem;
  background-color: rgb(0, 0, 0);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}
.movie-card:hover .overview {
  transform: translateY(0%);
}
.movie-card img {
  max-width: 100%;
}
.movie-grid {
  justify-content: center;
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.overview {
  background-color: white;
  color: #8a00f3 !important;
  display: inline;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: 200px;
  overflow: auto;
  max-height: 100%;
  transform: translateY(115%);
  transition: transform 0.4s ease-in-out;
}
p {
  font-size: 15px;
}
.page-header {
  text-align: center;
}
.movie-buttons {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
.movie-button {
  margin-top: 1rem;
  background-color: #9100ff !important;
  width: 8rem;
}
.page-header {
  color: white;
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
}
.search-bar {
  border-radius: 4rem;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  width: 50%;
  height: 3rem;
  padding-left: 1rem;
}
.search-bar::placeholder {
  color: white;
}
.movie-rank {
  background-color: blue;
  color: white;
  display: inline;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: 200px;
  overflow: hidden;
  max-height: 100%;
  transform: translateY(110%);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}
.movie-rank-hidden {
  height: 0px;
  visibility: hidden;
}
.movie-card:hover .movie-rank {
  transform: translateY(0%);
}
.rating-bar {
  width: 250px;
}
